/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeng/resources/themes/omega/theme.css';

#registrationForm > div {
  margin-top: 10px;
  padding-left:10px;
  padding-bottom: 15px;
}

table {
  width: 50%;
  text-align: center;
  border-collapse: collapse;
  font-family: "Roboto", "Trebuchet MS", "Arial, Helvetica, sans-serif";
}
table, th, td {
  border: 1px solid black;
}

th{
  background-color : gray;
  color : white;
}
